@model CapaEntidad.Administrador

@{
    ViewBag.Title = "Eliminar Administrador";
}

<h2>Eliminar Administrador</h2>

<h3>¿Estás seguro de que deseas eliminar este administrador?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre_Administrador)
        </dd>

        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Rol
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            Teléfono
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

       
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
